page-login {
    .invalid {
        border-bottom: 1px solid #FF6153;
        }
        .errorMessage
        {
            color: red;
            font-size: 10px;
            margin-left: 20px;
        }
}
